{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/login_register.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}

    {% if errors %}
        <div class="alert alert-danger">
            {{ errors.messageKey }}
        </div>
    {% endif %}

    <form action="{{ path('login') }}" class="form-signin" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" name="_username" id="inputEmail" class="form-control" placeholder="Username" value="{{ last_user }}" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="_password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

{% endblock %}