<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" type="text/css">

</head>

<body>

<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item" href="{{ path('ads') }}">Home</a>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="blog-nav-item" href="{{ path('ads/show') }}">Your Ads</a>
                <a class="blog-nav-item" href="{{ path('ads/create') }}">Create Ad</a>
                <a class="blog-nav-item pull-right" href="{{ logout_path() }}">Sign Out</a>
            {% else %}
                <a class="blog-nav-item pull-right" href="{{ path('login') }}">Sign In</a>

            {% endif %}
        </nav>
    </div>
</div>

<div class="container">

    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">{{ flash_message }}</div>
    {% endfor %}

    {% block body %}{% endblock %}



</div><!-- /.container -->


<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>

