{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('assets/css/forms.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
    <div class="form-contents">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}