{% extends 'base.html.twig' %}
{% block body %}

<div class="blog-header">
    <h1 class="blog-title">Advertisments</h1>
    <p class="lead blog-description">Post your advertisments below!</p>
</div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% else %}
        <div class="registration-button">
            <a class="btn btn-lg btn-primary" href="{{ path('register') }}">New User Registration</a>
        </div>
    {% endif %}


<div class="row">

    <div class="col-sm-12 blog-main">

        <div class="update"> {# post content goes here #}

        </div>
    </div><!-- /.blog-main -->


</div><!-- /.row -->

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/main.js') }}"></script>
{% endblock %}