{% extends 'base.html.twig' %}
{% block body %}

    <div class="blog-header">
        <h1 class="blog-title">Your advertisments:</h1>
    </div>

    <div class="row">

        <div class="col-sm-12 blog-main">

            {% for ad in ads %}
            <div class="post-container">
                <div class="blog-post">
                    <h2 class="blog-post-title">{{ ad.title }}</h2>
                    <p class="blog-post-meta">{{ ad.postedAt|date('F j, Y') }} by <strong>You</strong></p>
                    <p>{{ ad.description }}</p>
                    <a class="btn btn-warning" href="/ads/edit/{{ ad.id }}">Edit</a>
                    <a class="btn btn-danger" href="/ads/delete/{{ ad.id }}">Delete</a>
                </div><!-- /.blog-post -->
            </div>
            {% endfor %}

        </div><!-- /.blog-main -->

    </div><!-- /.row -->

{% endblock %}