{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/login_register.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}

    <div class="form-signin">
        <h2 class="form-signin-heading">Sign Up!</h2>
        {{ form(form) }}
    </div>

{% endblock %}