{% for ad in ads %}
<div class="post-container">
    <div class="blog-post">
        <h2 class="blog-post-title">{{ ad.title }}</h2>
        <p class="blog-post-meta">{{ ad.postedAt|date('F j, Y') }} by <strong>{{ ad.postedBy }}</strong></p>
        <p>{{ ad.description }}</p>
    </div>
</div>
{% endfor %}
